html{
    height:100%;
}
body{
    height:100%;
}
.left-div{
    height:100%;
}
.mouseover{
    cursor:pointer;
}
.showPermission{
    display: none;
}
.showRole{
    display: none;
}
.showUserRole{
    display: none;
}
.showRolePermission{
    display: none;
}
