<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>忘记密码</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap3-validation.js"></script>
    <script type="text/javascript" src="/js/forgetPassword.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<script>
    var countdown=60;
    function settime(val) {
        if (countdown === 0) {
            val.removeAttribute("disabled");
            val.value="获取验证码";
            countdown = 60;
            return false;
        } else {
            if(countdown === 60){
                var data = 'email=' + $('#email').val();
                $.post("forgetPassword",data, function (data) {
//                    document.getElementById('regist').innerHTML = data;
                    console.log(data);
                });
            }
            val.setAttribute("disabled", true);
            val.value="重新发送(" + countdown + ")";
            countdown--;
        }
        setTimeout(function() {
            settime(val)
        },1000)
    }
</script>
<div class="container" id="changepassword">
    <div class="row">
        <div class="col-md-3 col-md-offset-4" style="margin-top: 50px">
            <form action="" method="post" role="form">
                <div class="form-group">
                    <label for="username" class="text-muted">账号</label>
                    <input type="text" id="username" name="username"  class="form-control" maxlength="20" check-type="required" required-message="账号不能为空"/>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" id="password" name="password" class="form-control" minlength="6" maxlength="30" check-type="required" required-message="密码不能为空" />
                </div>
                <div class="form-group">
                    <label for="passwordagain">确认密码</label>
                    <input type="password" id="passwordagain" name="passwordagain" minlength="6" maxlength="30" class="form-control" check-type="required" required-message="密码不匹配" />
                </div>
                <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="email" id="email" name="email" class="form-control" maxlength="50" check-type="required mail" required-message="邮箱不能为空"/>
                </div>
                <div class="form-group">
                    <label for="randomcode">验证码</label>
                    <div class="row">
                        <div class="col-md-7">
                            <input type="text" id="randomcode" name="randomcode" class="form-control" maxlength="5" check-type="required" required-message="验证码不能为空"/>
                        </div>
                        <div class="col-md-5" style="padding-left: 0">
                            <input type="button" id="getRandomcode" class="btn btn-default btn-block" onclick="settime(this)" value="获取验证码" />
                        </div>
                    </div>

                </div>
                <input type="button" id="submit" value="确定" class="btn btn-success btn-block" />
            </form>
        </div>
    </div>
</div>
</body>
</html>