<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户登录</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!--http://windows-1252100560.coscd.myqcloud.com/background.jpg-->
    <script>
        /**
         * 刷新验证码
         */
        function flushValidate() {
            var now = new Date();
            document.getElementById("validatecode").src="/validatecode?code=" + now.getTime();
        }
    </script>
    <style>
        a:link{
            text-decoration:none;
        }
        a:visited{
            text-decoration:none;
        }
        a:hover{
            text-decoration:none;
        }
        a:active{
            text-decoration:none;
        }
        #forgetpassword{
            float: right;
        }
    </style>
</head>
<body style="background-size: 100% auto;">
    <div class="container" style="margin: 10% 0 0 0">
        <div class="row">
            <div class="col-md-3 col-md-offset-8">
                错误信息：
                <h4 th:text="${msg}"></h4>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" id="username" name="username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" id="password" name="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="randomcode">验证码</label>
                        <div class="row">
                            <div class="col-md-8"><input type="text" id="randomcode"  name="randomcode" class="form-control" /></div>
                            <div class="col-md-4" style="padding: 0"><img src="/validatecode" style="height: auto;width: auto; cursor:pointer;" alt="验证码" id="validatecode" onclick="flushValidate()" /></div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="rememberMe" /> 记住我
                        </label>
                    </div>
                    <input type="submit" value="提交" class="btn btn-success btn-block" />
                </form>
                <a href="/register" target="_blank">还没有账号？快去注册吧！</a>
                <a href="" target="_blank" id="forgetpassword">忘记密码</a>
            </div>
        </div>
    </div>
</body>
</html>