<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>用户登录</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" />
    <script src="http://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
</head>
<script>
    /**
     * 刷新验证码
     */
    function flushValidate() {
        var now = new Date();
        document.getElementById("validatecode").src="/validatecode?code=" + now.getTime();
    }
</script>
<style>
    body{
        background: url("https://assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg"),#2b3137;;
    }
    #loginForm{
        margin: 12% 0 0 0;

    }
    a:link{
        text-decoration:none;
    }
    a:visited{
        text-decoration:none;
    }
    a:hover{
        text-decoration:none;
    }
    a:active{
        text-decoration:none;
    }
    #forgetpassword{
        float: right;
    }
</style>
<body>
<div class="mdui-container-fluid" id="loginForm">
    <div class="mdui-row">
        <div class="mdui-col-xs-5 mdui-col-offset-xs-1">
            <div style="font-size: 72px;font-family: Roboto, -apple-system, BlinkMacSystemFont,'Helvetica Neue','Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;color:white;">
                Built for managers
            </div>
            <div style="font-size: 26px;font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;color:#A0A0A0;">
                <p>This is a user permission management system, designed and developed by myself a person, it is mainly used for personal daily practice learning contents, specific item code has hosted in making, welcome to consult the correct!</p>
            </div>
        </div>
        <div class="mdui-col-xs-3 mdui-col-offset-xs-1" style="background-color: white; padding:10px 15px 30px 15px;border-radius:5px">
            <h4 th:text="${msg}"></h4>
            <form action="" method="post">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label" for="username">用户名</label>
                    <input class="mdui-textfield-input" id="username" name="username" type="text" required="required" />
                    <div class="mdui-textfield-error">用户名不能为空</div>
                </div>
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label" for="password">密码</label>
                    <input class="mdui-textfield-input" id="password" name="password" type="password" required="required" />
                    <div class="mdui-textfield-error">密码不能为空</div>
                </div>
                <div >
                    <div class="mdui-row">
                        <div class="mdui-col-xs-8">
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label" for="randomcode">验证码</label>
                                <input class="mdui-textfield-input" type="text" id="randomcode"  name="randomcode" required="required" />
                                <div class="mdui-textfield-error">验证码不能为空</div>
                            </div>
                        </div>
                        <div class="mdui-col-xs-4" style="padding:11% 0 0 0">
                            <img src="/validatecode" style="height: auto;width: auto; cursor:pointer;" alt="验证码" id="validatecode" onclick="flushValidate()" />
                        </div>
                    </div>

                </div>

                <div style="margin:0 0 10% 0;display : none">
                    <label class="mdui-checkbox">
                        <input type="checkbox" name="rememberMe"/>
                        <i class="mdui-checkbox-icon"></i>
                        记住我
                    </label>
                </div>
                <input type="submit" class="mdui-btn mdui-btn-raised mdui-btn-block mdui-ripple mdui-color-green" value="登录" />
            </form>
            <div style="padding:10% 0 0 0">
                <a href="/register" target="_blank">还没有账号？快去注册吧！</a>
                <a href="" target="_blank" id="forgetpassword">忘记密码</a>
            </div>

        </div>
    </div>
</div>
</body>
</html>